@using DIP_Blazor_App.Models
@inject ImageProcessor_ imgProcessor

<EditForm Model="input" OnValidSubmit="() => imgProcessor.Preform()">
    <DataAnnotationsValidator />
    <div>
        <label>Bit plane position </label>
        <InputNumber @bind-Value="input.position"/>
    </div>
    <button class="btn btn-success btn-lg" type="submit">Preform Algorithm</button>
</EditForm>

@code {

    [Parameter]
    public BitPlaneInputModel input { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnValidSubmitCallback { get; set; }
}